# prod or dev
APP_ENV=dev

# prod data
TELEGRAM_BOT_TOKEN="123456:PROD_BOT_TOKEN..."
TELEGRAM_CHAT_ID="-100999888777"

# dev data
DEV_TELEGRAM_BOT_TOKEN="987654:DEV_BOT_TOKEN..."
DEV_TELEGRAM_CHAT_ID="-100999888777"

# ha
HA_BASE_URL="http://homeassistant.local:8123"
HA_WS_URL="ws://homeassistant.local:8123/api/websocket"
HA_TOKEN="eyJhbGciOi..."